@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Sometype+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-family: "Sometype Mono", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 40px;
   font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;

}
.nav-link {
  color: black !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}

.faplus {
  color: green !important;
  margin: 5px !important;
}

.faminus {
  color: red !important;
  margin: 5px !important;
}

.fatrash{
  color: red !important;
  margin: 5px !important;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}

.adminfunction{
  padding: 10px;
  background-color: rgb(141, 196, 159);
  text-align: center !important;
}

.adminfunction li{
  list-style: none !important;
  display: inline !important;
}
.admin{
  padding: 20px;
  text-decoration: none !important;
}
td,th,tr{
  text-align: left !important;
}


.footer {
  color: white !important;
  background-color: black !important;
  box-shadow: 0 8px 6px -6px rgb(155, 91, 91) !important;
  padding: 1rem;
}

.flink {
  text-decoration: none;
  color: white;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.flink:hover {
  color: aquamarine;
  border-bottom: 1px solid rgb(185, 214, 17) !important;
}
