@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Sometype+Mono&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-family: "Sometype Mono", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  color: black !important;
  font-size: 32px;
}
.nav-link {
  color: black !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}

.faplus {
  color: green !important;
  margin: 5px !important;
}

.faminus {
  color: red !important;
  margin: 5px !important;
}

.fatrash{
  color: red !important;
  margin: 5px !important;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}

.adminfunction{
  padding: 10px;
  background-color: rgb(141, 196, 159);
  text-align: center !important;
}

.adminfunction li{
  list-style: none !important;
  display: inline !important;
}
.admin{
  padding: 20px;
  text-decoration: none !important;
}
td,th,tr{
  text-align: left !important;
}